/* Universal Styles */

body {
    background-color: var(--off-white);
    margin: 0;
    
    a {
        color: var(--dark-purple);
    }
}

/* General Layout */

.page-center {
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
}

.main-content {
    & > * {
        margin-bottom: 3em;
    }
}

/* Steps Header */

.header-steps_wrap {
    align-items: center;
    background-color: var(--dark-purple);
    display: flex;
    margin-bottom: 3em;
    min-height: 150px;
    padding: 3em 0;
}

.header-steps_nav_wrap {}

.header-steps_nav {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.header-steps_list_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.header-steps_li {
    align-self: flex-start;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5em 0;
    justify-content: center;
    max-width: 100px;
    text-align: center;
    transition: 0.235s;

    &:not(
    .step_prev, 
    .step_next, 
    .step_is-active
    ) {
        display: none;
    }

    &.step_is-active {

        .header-steps_li_number {
            background-color: var(--white);
            color: var(--dark-purple)
        }
    }

    &:hover {
        box-shadow: var(--link-underline);
    }

}

.header-steps_li_number {
    align-self: center;
    border: 2px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
    padding: 0.5em 0;
    /* text-align: center; */
    width: 45px;
}

.header-steps_li_link {
    color: var(--white);
    text-decoration: none;
}


/* Remove Default List Styles */
.no-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-steps_btn_wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.header-steps_btn {}

/* Main Content Area */

.content_description_wrap {}

.content_editing_wrap {}

.content_editing_instruct {}

.editing_subhead {}

.editing_main-headline {
    border-bottom: var(--heading-underline);
    width: max-content;
}

.editing_p_content {}

.content_editing_controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;

    .btn_inactive {
        background: transparent;
        border-color: var(--text);
        color: var(--text);

        &:hover {
            background-color: var(--orange);
            border-color: var(--orange);
        }
    }

    .btn_active {

        &:hover {
            background-color: var(--orange);
            border-color: var(--orange);
        }
    }
}

.content_bio-card-list_wrap {}

.bio-card_list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em var(--bio-card-row-gap);
}

.bio-card_li {
    background-color: var(--white);
    border-radius: 20px;
    width: 100%;
}

.bio-card_header_wrap {
    background-color: var(--text);
    border-radius: 20px 20px 0 0;
    padding: 1.5em 2em;

    h3, h4 {
        margin-bottom: 0;
    }

    h3 {
        color: var(--white);
    }

    h4 {
        color: var(--orange)
    }
}

.bio-card_content_wrap {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

.bio-card_info_wrap {}

.bio-card_info-list {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.bio-card_info-list_li {
	display: flex;
	flex-direction: column;
}

.info-list_li_label {}

.info-list_li_value {}

.bio-card_button_wrap {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 2em;
}

/* Footer */

.footer {}

.footer_content_wrap {}

.footer-steps_btn_wrap {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 1.5em;
}